body {
    background-color: black;
    background-image: url(assets/wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

img {
    height: 400px;
    border: 3px antiquewhite;
    border-radius: 50px;
}

p {
    color:bisque
}

footer p{
    color: antiquewhite;
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blanchedalmond;
    font-size: xx-large;
    padding: 100px;

}