body {
    background-color: black;
    background-image: url(assets/wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(216, 210, 130);
    text-align: center;
}

img {
    height: 400px;
    border: 3px antiquewhite;
    border-radius: 50px;
}

p {
    color:rgb(255, 255, 255)
}

footer p{
    color: rgb(214, 176, 126);
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(189, 152, 97);
    font-size: xx-large;
    padding: 100px;

}

main h3 {
    text-align: center;

}